@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.
.
.
.debug_dump {
  clear: both;
  float: left;
  width: 50%;
  margin-top: 50px;
  @include box_sizing;
}
